<nav [class.active-skeleton]="waiting">
    <!-- main nav that contain search input field -->
    <div searchNavPlace>
        <div id="search-nav" [ngClass]="{'navbar-hidden': !navbarToggle, 'navbar-visible': navbarToggle}"
            (window:scroll)="onWindowScroll()" [style.box-shadow]="scrollTop>40?'0px 5px 18px -5px rgba(0,0,0,.1)':''">
            <mat-toolbar class="container">

                <header>
                    <button routerLink="home">
                        <img src="./assets/logo/logo.png" alt="">
                    </button>
                </header>

                <div class="search-container skeleton ">
                    <button id="searchBtn">
                        <mat-icon class="search-icon">search</mat-icon>
                    </button>
                    <input name="searchText" placeholder="عم تبحث">
                </div>

                <button class="person-icon skeleton">
                    <mat-icon>person</mat-icon>
                </button>

                <div class="cart skeleton">
                    <button routerLink="/shop/cart" routerLinkActive="active-navItem">
                        <ng-container *ngIf="!smallSize">
                            <p>سلة التسوق</p>
                            <span class="quantity" *ngIf="quantity!=0">{{quantity}}</span>
                            <mat-icon>shopping_cart</mat-icon>
                        </ng-container>
                        <ng-container *ngIf="smallSize">
                            <span class="quantity" *ngIf="quantity!=0">{{quantity}}</span>
                            <mat-icon>shopping_cart</mat-icon>
                        </ng-container>
                    </button>
                </div>

            </mat-toolbar>
        </div>
    </div>

    <!-- second nav that contain nav item and catergories -->
    <div id="items-nav">
        <div class="container" *ngIf="smallSize">
            <button class="skeleton skeleton_toggle" menuBtn (click)="openSideBarFn()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <mat-toolbar class="container" *ngIf="!smallSize">
            <li class="item-list skeleton skeleton-nav_item ">
                <a class="item-link" [matMenuTriggerFor]="menu" mat-button>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    <span> الاقسام</span>
                </a>
            </li>

            <li class="item-list skeleton skeleton-nav_item ">
                <a class="item-link" routerLink="home" routerLinkActive="active-navItem" mat-button>الرئيسة</a>
            </li>

            <li class="item-list skeleton skeleton-nav_item ">
                <a class="item-link" routerLink="/support/hoppies" routerLinkActive="active-navItem" mat-button>قائمة
                    الأمنيات</a>
            </li>

            <li class="item-list skeleton skeleton-nav_item ">
                <a class="item-link" routerLink="/support/contactUs" routerLinkActive="active-navItem" mat-button>تواصل
                    معنا</a>
            </li>

            <li class="item-list skeleton skeleton-nav_item ">
                <a class="item-link" routerLink="/support/blog" routerLinkActive="active-navItem" mat-button>من نحن</a>
            </li>

            <mat-menu #menu="matMenu" yPosition="below">
                <button class="menuItem" mat-menu-item routerLinkActive="active-navItem"
                    routerLink="/department/1">القسم الاول </button>
                <button class="menuItem" mat-menu-item routerLinkActive="active-navItem"
                    routerLink="/department/2">القسم الثاني</button>
                <button class="menuItem" mat-menu-item routerLinkActive="active-navItem"
                    routerLink="/department/3">القسم الثالث</button>
                <button class="menuItem" mat-menu-item routerLinkActive="active-navItem"
                    routerLink="/department/4">القسم الرابع </button>
            </mat-menu>
        </mat-toolbar>

    </div>


    <slide-nav [open]="openSideBar" (sideState)="trackSidebar($event)"></slide-nav>
</nav>