<div class="quantity" [class.small-card]="isSmallCard" [class.min-icon]="minIcon">
    <button class="addation" mat-icon-button color="primary" (click)="addation()">
        <mat-icon>add</mat-icon>
    </button>

    <div shopping_cart_checkout>
        <strong> {{quantity}} </strong>
        <mat-icon>
            shopping_cart_checkout
        </mat-icon>
    </div>
    
    <button class="subtraction" mat-icon-button color="warn" (click)="subtract()">
        <mat-icon>remove</mat-icon>
    </button>
</div>