@import '../../../../styles.scss';

@mixin gridLayout() {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

div[slider] {
    height: 50vh;
}

div[categories] {
    @include gridLayout();
    margin-left: 5px;
    min-height: 60px;
    font-size: $fontSizeBodyText;

    .lastView {
        grid-column: 1/3;
        min-width: 260px;
        margin: auto;
    }

    .new {
        grid-column: 3/9;
        margin: auto 0;
        div[divider] {
            @include verticalCenter();
            justify-content: space-between;
            gap: 10px;

            P {
                @include stripper();
            }

            span[dividerLine] {
                height: 1px;
                flex-grow: 1;
                background-color: $dividerGray;
            }

            button {
                font-size: $fontSizeBodyText;
                color: $primaryColor;
                border-color: $primaryColor;
            }
        }

    }

    .chip {
        grid-column: 1/9;
        margin: auto;

        @include verticalCenter();
        justify-content: center;
        gap: 10px;

        button {
            @include iconButton();
            background-color: $startOff ;
            font-size: $fontSizeCaption ;
            padding: 8px 20px;
            border-radius: 15px;
            transition: all .3s;
        }
    }

}

div[product-view] {
    @include gridLayout();

    .lastView {
        grid-column: 1/3;
        @include verticalCenter();
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    .new {
        grid-column: 3 /9;
        @include verticalCenter();
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

}

@media screen and (max-width:1024px) {
    div[product-view] {
        grid-template-columns: minmax(260px, 1fr)9fr !important;

    }
}

@media screen and (max-width:768px) {
    div[product-view] {
        .new {
            grid-column: 1/9;
            gap: 5px !important;
        }
    }

    div[slider] {
        height: 30vh !important;
    }
}

@media screen and (max-width:425px) {
    .chip {
        gap: 5px !important;

        button {
            padding: 4px 10px !important;
            font-size: 12px !important;
        }
    }

    div[slider] {
        height: 20vh !important;
    }
}